In [16]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print('sql version ' + sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = query
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main(query, querymsg):
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print(querymsg)
        select_all_tasks(conn, query)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [18]:
query = """
SELECT f.name,
	   SUM(
           CASE WHEN MEMID = 0 THEN f.guestcost * b.slots
                WHEN MEMID != 0 THEN f.membercost * b.slots
       END) as revenue
FROM Bookings as b 
INNER JOIN Facilities as f 
 USING(facid)
INNER JOIN Members as m
 USING(memid) 
GROUP BY f.name
HAVING revenue < 1000
ORDER BY revenue DESC;"""
querymsg = '''Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!'''
main(query, querymsg)

sql version 2.6.0
Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

 Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [26]:
query = """
SELECT 
(m1.firstname || ' ' || m1.surname) as membername, 
(m2.firstname || ' ' || m2.surname) as recommendedbyname
FROM Members as m1
INNER JOIN Members as m2
on m1.memid = m1.memid
WHERE m1.recommendedby = m2.memid AND m1.memid != 0
ORDER BY m1.surname, m1.firstname;"""
querymsg = ''' Q11: Produce a report of members and who recommended them in alphabetic surname, firstname order'''
main(query, querymsg)

sql version 2.6.0
 Q11: Produce a report of members and who recommended them in alphabetic surname, firstname order
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Jack Smith', 'Darren Smith')
('Ponder Stibbons', 'Burton Tracy')
('Henry Worthington-Smyth', 'Tracy Smith')

Q12: Find the facilities with their usage by member, but not guests

In [27]:
query = """
SELECT f.name,
       m.memid,
       SUM(b.slots)
FROM Bookings as b
JOIN Facilities as f
USING(facid)
JOIN Members as m
USING (memid)
WHERE m.memid != 0
GROUP BY f.name, m.memid;"""
querymsg = ''' Q12: Find the facilities with their usage by member, but not guests'''
main(query, querymsg)

sql version 2.6.0
 Q12: Find the facilities with their usage by member, but not guests
('Badminton Court', 1, 432)
('Badminton Court', 2, 102)
('Badminton Court', 3, 12)
('Badminton Court', 5, 63)
('Badminton Court', 6, 6)
('Badminton Court', 7, 30)
('Badminton Court', 8, 36)
('Badminton Court', 9, 48)
('Badminton Court', 10, 18)
('Badminton Court', 11, 24)
('Badminton Court', 12, 30)
('Badminton Court', 13, 21)
('Badminton Court', 14, 36)
('Badminton Court', 15, 27)
('Badminton Court', 16, 21)
('Badminton Court', 17, 21)
('Badminton Court', 21, 96)
('Badminton Court', 24, 21)
('Badminton Court', 26, 6)
('Badminton Court', 29, 15)
('Badminton Court', 30, 6)
('Badminton Court', 33, 3)
('Badminton Court', 35, 6)
('Badminton Court', 36, 6)
('Massage Room 1', 1, 58)
('Massage Room 1', 2, 12)
('Massage Room 1', 3, 176)
('Massage Room 1', 4, 24)
('Massage Room 1', 5, 66)
('Massage Room 1', 6, 62)
('Massage Room 1', 7, 38)
('Massage Room 1', 8, 76)
('Massage Room 1', 9, 40)
('Massage Room 1', 10, 22)
('Massage Room 1', 11, 40)
('Massage Room 1', 12, 6)
('Massage Room 1', 13, 68)
('Massage Room 1', 14, 54)
('Massage Room 1', 16, 50)
('Massage Room 1', 17, 6)
('Massage Room 1', 20, 52)
('Massage Room 1', 21, 2)
('Massage Room 1', 22, 2)
('Massage Room 1', 24, 16)
('Massage Room 1', 29, 2)
('Massage Room 1', 33, 2)
('Massage Room 1', 35, 6)
('Massage Room 1', 36, 4)
('Massage Room 2', 3, 4)
('Massage Room 2', 4, 4)
('Massage Room 2', 5, 2)
('Massage Room 2', 7, 10)
('Massage Room 2', 10, 4)
('Massage Room 2', 11, 8)
('Massage Room 2', 12, 4)
('Massage Room 2', 14, 2)
('Massage Room 2', 15, 4)
('Massage Room 2', 20, 2)
('Massage Room 2', 22, 4)
('Massage Room 2', 24, 6)
('Pool Table', 1, 28)
('Pool Table', 2, 64)
('Pool Table', 3, 282)
('Pool Table', 4, 27)
('Pool Table', 5, 6)
('Pool Table', 6, 30)
('Pool Table', 7, 19)
('Pool Table', 8, 26)
('Pool Table', 9, 12)
('Pool Table', 10, 1)
('Pool Table', 11, 8)
('Pool Table', 12, 12)
('Pool Table', 13, 1)
('Pool Table', 14, 7)
('Pool Table', 15, 23)
('Pool Table', 16, 95)
('Pool Table', 17, 9)
('Pool Table', 20, 18)
('Pool Table', 21, 83)
('Pool Table', 22, 11)
('Pool Table', 24, 13)
('Pool Table', 26, 2)
('Pool Table', 27, 3)
('Pool Table', 28, 25)
('Pool Table', 29, 37)
('Pool Table', 30, 5)
('Pool Table', 33, 9)
('Snooker Table', 1, 24)
('Snooker Table', 2, 90)
('Snooker Table', 4, 142)
('Snooker Table', 5, 72)
('Snooker Table', 6, 40)
('Snooker Table', 7, 46)
('Snooker Table', 8, 90)
('Snooker Table', 9, 40)
('Snooker Table', 10, 44)
('Snooker Table', 11, 4)
('Snooker Table', 13, 44)
('Snooker Table', 14, 10)
('Snooker Table', 15, 66)
('Snooker Table', 17, 32)
('Snooker Table', 20, 2)
('Snooker Table', 21, 14)
('Snooker Table', 22, 20)
('Snooker Table', 24, 36)
('Snooker Table', 27, 28)
('Snooker Table', 28, 2)
('Snooker Table', 30, 2)
('Snooker Table', 33, 12)
('Squash Court', 1, 30)
('Squash Court', 2, 12)
('Squash Court', 4, 30)
('Squash Court', 5, 18)
('Squash Court', 6, 78)
('Squash Court', 8, 24)
('Squash Court', 9, 4)
('Squash Court', 10, 14)
('Squash Court', 11, 16)
('Squash Court', 12, 110)
('Squash Court', 13, 16)
('Squash Court', 14, 22)
('Squash Court', 15, 4)
('Squash Court', 16, 10)
('Squash Court', 17, 6)
('Squash Court', 21, 4)
('Squash Court', 22, 2)
('Squash Court', 24, 4)
('Squash Court', 26, 2)
('Squash Court', 27, 4)
('Squash Court', 28, 2)
('Squash Court', 30, 2)
('Squash Court', 33, 2)
('Squash Court', 35, 2)
('Table Tennis', 1, 56)
('Table Tennis', 2, 56)
('Table Tennis', 3, 150)
('Table Tennis', 4, 18)
('Table Tennis', 5, 2)
('Table Tennis', 6, 48)
('Table Tennis', 7, 10)
('Table Tennis', 8, 8)
('Table Tennis', 9, 6)
('Table Tennis', 10, 50)
('Table Tennis', 11, 22)
('Table Tennis', 12, 2)
('Table Tennis', 13, 24)
('Table Tennis', 14, 10)
('Table Tennis', 15, 86)
('Table Tennis', 16, 48)
('Table Tennis', 17, 34)
('Table Tennis', 20, 54)
('Table Tennis', 21, 32)
('Table Tennis', 22, 46)
('Table Tennis', 24, 6)
('Table Tennis', 29, 6)
('Table Tennis', 30, 14)
('Table Tennis', 35, 2)
('Table Tennis', 36, 4)
('Tennis Court 1', 2, 93)
('Tennis Court 1', 3, 18)
('Tennis Court 1', 4, 57)
('Tennis Court 1', 5, 171)
('Tennis Court 1', 6, 93)
('Tennis Court 1', 7, 81)
('Tennis Court 1', 8, 12)
('Tennis Court 1', 9, 3)
('Tennis Court 1', 10, 51)
('Tennis Court 1', 11, 84)
('Tennis Court 1', 12, 18)
('Tennis Court 1', 13, 3)
('Tennis Court 1', 14, 75)
('Tennis Court 1', 15, 3)
('Tennis Court 1', 16, 45)
('Tennis Court 1', 17, 51)
('Tennis Court 1', 20, 3)
('Tennis Court 1', 22, 21)
('Tennis Court 1', 24, 15)
('Tennis Court 1', 26, 27)
('Tennis Court 1', 28, 18)
('Tennis Court 1', 35, 12)
('Tennis Court 1', 36, 3)
('Tennis Court 2', 1, 57)
('Tennis Court 2', 2, 6)
('Tennis Court 2', 3, 18)
('Tennis Court 2', 4, 24)
('Tennis Court 2', 5, 9)
('Tennis Court 2', 6, 9)
('Tennis Court 2', 7, 33)
('Tennis Court 2', 8, 168)
('Tennis Court 2', 9, 96)
('Tennis Court 2', 10, 141)
('Tennis Court 2', 11, 99)
('Tennis Court 2', 12, 114)
('Tennis Court 2', 13, 3)
('Tennis Court 2', 14, 3)
('Tennis Court 2', 15, 24)
('Tennis Court 2', 16, 21)
('Tennis Court 2', 24, 36)
('Tennis Court 2', 27, 3)
('Tennis Court 2', 28, 3)
('Tennis Court 2', 30, 3)
('Tennis Court 2', 35, 12)

Q13: Find the facilities usage by month, but not guests

In [30]:
query = """
SELECT f.name,
       substring(b.starttime, 6, 2) as month,
       SUM(b.slots)
FROM Bookings as b
JOIN Facilities as f
USING(facid)
JOIN Members as m
USING (memid)
WHERE m.memid != 0
GROUP BY f.name, month;"""
querymsg = ''' Q13: Find the facilities usage by month, but not guests'''
main(query, querymsg)

sql version 2.6.0
 Q13: Find the facilities usage by month, but not guests
('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)